.editorconfig
.vscode/extensions.json
.vscode/settings.json
firmware/.vscode/
micropython/
discord_bot/bot.json
bot.json
discord_bot/session.json
discord_bot/bot.json
session.json
discord_bot/__pycache__/
discord_bot/cogs/__pycache__/
.copilot-notes.md
